
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" id="btnAddLoan" value="Add" />
<br />
<br />
<table id="tblLoan" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Request ID</th>
            <th>SSN</th>
            <th>Loan Amount</th>
            <th>Loan Term</th>
            <th>Interest Rate</th>
            <th>Quote ID</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAddLoan').on('click', function () {
                UpdateLoanRequest(3, 321, 123);
            });

            for (index = 1; index <= 30; index++) {
                LoadRandomizedLoanRequests(index);
            }
        });

        function LoadRandomizedLoanRequests(ssn) {
            var min = 1;

            var loanAmount = ((Randomize(20) * 5000) + 25000);
            var loanTerm = (Randomize(72) + 12);

            AppendLoanRequest("", "", ssn, loanAmount, loanTerm);
        }

        function Randomize(max)
        {
            var min = 1;

            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function AppendLoanRequest(clientId, requestId,
            ssn, loanAmount, loanTerm)
        {
            var newRow = $("<tr id='row_ssn_" + ssn + "'/>");

            newRow.append("<td>" + clientId + "</td>");
            newRow.append("<td>" + requestId + "</td>");
            newRow.append("<td>" + ssn + "</td>");
            newRow.append("<td>" + loanAmount + "</td>");
            newRow.append("<td>" + loanTerm + "</td>");
            newRow.append("<td id='interestRate'>" + 0 + "</td>");
            newRow.append("<td id='quoteId'>" + 0 + "</td>");

            var targetItemTable = $("#tblLoan > tbody");

            targetItemTable.append(newRow);
        }

        function UpdateLoanRequest(ssn, interestRate, quoteId)
        {
            var selector = "#row_ssn_" + ssn;
            var interestRateCell = $(selector + " > #interestRate");
            var quoteIdCell = $(selector + " > #quoteId");

            interestRateCell.text(interestRate);
            quoteIdCell.text(quoteId);
        }
    </script>
}


