
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <!--Required JQuery files-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.color-2.1.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="../signalr/hubs"></script>
    <!--*********************-->
    <!--Hook-up Signal R implementation-->
    <script src="~/Scripts/SignalR.LoanBroker.js"></script>
    <!--*******************************-->
}

<h2>Index</h2>

<input type="button" id="btnAddLoan" value="Add" />
<br />
<br />
<table id="tblLoan" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Request ID</th>
            <th>SSN</th>
            <th>Loan Amount</th>
            <th>Loan Term</th>
            <th>Interest Rate</th>
            <th>Quote ID</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>




