<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

<!--
f0b2fc66-008d-4941-a6da-5f3c741609d5
CreditBureau creditRequestQueue_PrimaryProcessor

c8b74dd1-b34c-43ae-8e35-40c0637a2ad4
CreditBureau creditRequestQueue_BackupProcessor

78d1d920-3aaa-4fe0-b72f-1508aa8cfe4d
loanbroker loanRequestQueue creditrequestQueue creditReplyQueue bankReplyQueue

23d21d42-caa8-4ef0-91c4-407b76b7a90d
ManagementConsole controlbusQueue creditRequestQueue_PrimaryProcessor monitorReplyQueue routerControlQueue

962c38f8-35a1-4ace-811e-73a100295e6f
CreditBureauFailOver routerControlQueue creditRequestQueue creditRequestQueue_PrimaryProcessor creditRequestQueue_BackupProcessor

*92022db8-750a-4481-afc7-dc2dcfb8fc20
Test loanbroker loanRequestQueue loanReplyQueue 
-->