<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

<!--
f0b2fc66-008d-4941-a6da-5f3c741609d5
CreditBureau creditRequestQueue_PrimaryProcessor

c8b74dd1-b34c-43ae-8e35-40c0637a2ad4
CreditBureau creditRequestQueue_BackupProcessor


23d21d42-caa8-4ef0-91c4-407b76b7a90d
ManagementConsole controlbusQueue creditRequestQueue_PrimaryProcessor monitorReplyQueue routerControlQueue

-->